.todo-card {
  gap: 1rem;
  flex-direction: row-reverse;

  &:nth-child(1) {
    margin-top: 12px;
  }

  .todo-actions {
    margin-left: auto;

    > * {
      margin-left: 1rem;
    }

    @include for-mobile-layout {
      margin-left: 0;
    }
  }

  @include for-mobile-layout {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }
}
