// .todoList {
//   display: flex;
//   flex-direction: column;
// }

.todo-list {
  width: 60vw;
  align-self: center;
  font-family: livic-semi-bold;
  font-size: 20px;
  margin: auto;

  @include for-mobile-layout {
    width: 88vw;
  }

  .MuiPaper-rounded {
    border-radius: 0;
  }
}
