body {
  margin: 0;
  font-family: livic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.main-container {
  // background-color: #282c34;
  background-color: #33333369;
}

// .hydrated {
//   .button {
//     font-family: 'livic-semi-bold';
//     background-color: black;
//     border-color: white;
//   }
// }

// ::root {
//   amplify-container {
//     .hydrated {
//       background-color: black;
//     }
//   }
// }
